<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="PizzaVikiCategoriesEntities" connectionString="metadata=res://*/PizzaVikiModel.csdl|res://*/PizzaVikiModel.ssdl|res://*/PizzaVikiModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=PizzaVikiCategories;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>