@{
    ViewBag.Title = "Index";
}

<a href="/Categories/">Създаване и редактиране на категория</a><br />
<a href="/Pizzas/">Добавяне и редактиране на пица</a> <br />
<a href="/NavigationMenus/">Добавяне и редактиране на менюто</a>