@{
    ViewBag.Title = "Index";
}

<a href="/Categories/">Създаване и редактиране на категория</a><br />
<a href="/CategoriesViewStyles/">Добавяне и редактиране на стиловете в страниците</a><br />
<a href="/Products/">Добавяне и редактиране на продукти</a> <br />
<a href="/PhoneOrders/">Добавяне и редактиране на телефони</a><br />